.jumbotron {
    background-image: url("yankee_stadium_parking.jpg");
    background-size: cover;
    height: 100%;
    margin-bottom: 0rem;
}
#header-text{
    text-align: left;
}
.display-3, .lead {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#site-directions{
    padding: 0px;
}
#position_table {
    /* width: 80%; */
}

#position, #pitcher {
    display: inline-block;
    height: 400px;
    overflow: auto;
}

#header-text {
    text-align: center;
}

table {
    white-space: nowrap;
}


th {
    background-color: white;
    border-bottom: 1px solid grey;
    position: sticky;
    top: 0;
}

.figure img {
    width: 400px;
    height: 160px;
}
