<!doctype html>
<html lang="en">

<head>
  <title>MLB Hall of Fame Analysis</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <!-- D3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">MLB Hall of Fame</h1>
      <h2 class="lead">The Baseball Writers Association of America votes on Hall of Fame induction.
        Have they been correct?
      </h2>
      <hr class="my-2">
      <h2 class='lead'>Using Machine Learning techniques to predict which players should be in Cooperstown.</h2>
      <!-- <p class="lead">
          <button id="reset_button" class="btn btn-primary btn-lg" role="button">Reset Page</button>
        </p> -->
    </div>
  </div>
  <div id="site-directions" class="card" style="width: 91%;">
    <div class="card-body">
      <h5 class="card-title">Use the Navigation Menu Below to See the Results of the Analysis</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Choose a position above to see the analysis.</h6> -->
      <p class="card-text">The site shows players who have already been elected to the Major League Baseball Hall
        of Fame by default. Choosing a position shows how machine learning might choose the players in Cooperstown.
      </p>
      <!-- <a href=".default-metrics-pitcher" class="card-link">Go to Pitchers Table</a> -->
      <!-- <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#"></a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="">Current Hall of Fame Players<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Choose a Position
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">First Base</a>
            <a class="dropdown-item" href="">Second Base</a>
            <a class="dropdown-item" href="">Third Base</a>
            <a class="dropdown-item" href="">Short Stop</a>
            <a class="dropdown-item" href="">Catcher</a>
            <a class="dropdown-item" href="">Outfield</a>
            <a class="dropdown-item" href="">DH</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">Pitchers</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">All Position Players</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/methodology">Methodology</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://github.com/cmarche2ti/mlb-hall-of-fame.git">Github</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- put your divs here -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11">

      </div>
    </div>
    <div class='row'>
      <div class="col-md-11">
        <div id='metrics-position'>
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">Position Players Currently in the Hall of Fame</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Choose a position above to see the analysis.</h6> -->
              <p id="metrics-default-text" class="card-text">There are currently 159 position players in the Baseball Hall of Fame that stats 
                are available for. By position, there are: 15 catchers, 22 first basemen, 19 second basemen, 13 third basemen,
                22 shortstops, 66 outfielders, and 2 designated hitters. This doesn't include special selections, managers
                or other inductees.</p>
              <ul id='metrics-list' class="list-group list-group-flush"></ul>
              <!-- <a href=".default-metrics-pitcher" class="card-link">Go to Pitchers Table</a> -->
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div id="position_table" class="col-md-11">
        <table id='position' class="table table-fixed table-striped table-bordered table-sm">
          <thead>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-11">
        <div id='default-metrics-pitcher'>
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">Pitchers Currently in the Hall of Fame</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text">There are currently 71 pitchers in the Baseball Hall of Fame that stats 
                  are available for. This doesn't include special selections, managers or other inductees.</p>
              <!-- <a href="#" class="card-link">Go to Position Players</a> -->
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class="col-md-11">
        <div id='pitcher-table'>
          <table id='pitcher' class="table table-fixed table-striped table-bordered table-sm">
            <thead>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <script src="/static/mlb-hof.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>